@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #09090b;
  color: #ffffff;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.viewfinder-corner {
  width: 32px;
  height: 32px;
  border-color: #fbbf24;
  position: absolute;
}

.technical-grid {
  background-image: radial-gradient(#27272a 1px, transparent 1px);
  background-size: 32px 32px;
}
